<div class="indexbody">  <!-- template body -->
 
<style>
  img{
       width: 100%;
       height: auto;
  }
</style>

<div class="picfix">
<img src="/assets/robothandphotoshopnew.png" width="600" height="200">
<p class="title">Hands of CMPT</p>
<p class="title1">"Statistics that you can see!"</p>

<div id="indexbodycontent2">




<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.select :color, ['red','orange','yellow','green','teal','blue','cyan','pink','purple','grey','white']  %>
  </div>
  <div class="field">
    <%= f.label :handedness %><br>
    <%= f.select :handedness, ['right','left','center'] %>  <!-- setting restrictions -->
  </div>
  <div class="field">
    <%= f.label :writeStyle %><br>
    <%= f.select :writeStyle, ['normal','italic'] %>
  </div>
  <div class="field">
    <%= f.label :writeFont %><br>
    <%= f.select :writeFont, ['times new roman','georgia','arial','helvetica','impact','tahoma','verdana'] %>
  </div>
  <div class="field">
    <%= f.label :writeColor %><br>
    <%= f.select :writeColor, ['red','orange','yellow','green','teal','blue','cyan','pink','purple','grey','white']  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Cancel', people_path %>

</div>

</div>

</div>
