<div class="indexbody">  <!-- used as a template -->
 
<style>
  img{
       width: 100%;
       height: auto;
  }
</style>

<div class="picfix">
<img src="/assets/robothandphotoshopnew.png" width="600" height="200">
<p class="title">Hands of CMPT</p>
<p class="title1">"Statistics that you can see!"</p>
<p class="title2"><%= link_to 'Home', '/home', {style: "color: white"} %></p>
<p class="title3"><%= link_to 'Data', people_path, {style: "color: white"} %></p>
<p class="title5" id="title55"><%= link_to 'Fact', '/fact', {style: "color: white"} %></p>
<p class="title6"><%= link_to 'Feed', '/feed', {style: "color: white"} %></p>


<div class="borderplace">
     <h2>Fact</h2>
</div>



<div class="indexbodycontentborder">

  
</div>



<div class="indexbodycontent">
  
  

     <% @people.each do |person| %>    <!-- display data verbally -->
        
        <% if person.writeStyle == "italic" %>
            <em><p style="display: inline"><span style="color:#FFFF00"><%= person.name %></span> <span style="color:#FFFF00">weighs <%= person.weight %> pounds</span> and is <span style="color:#FFFF00"><%= person.height %>cm tall</span>.</p></em><br>
            <em><p style="display: inline">This individual's <span style="color:#FFFF00">favorite color is <%= person.color %></span> and their <span style="color:#FFFF00">favorite writing color is <%= person.writeColor %></span>.</p></em><br>
            <em><p style="display: inline">In addition they're <span style="color:#FFFF00"><%= person.handedness %> handed</span> and prefers to <span style="color:#FFFF00">write in <%= person.writeFont %> font</span> with a <span style="color:#FFFF00"><%= person.writeStyle %> style</span>.</p></em><br>


            <% if person.handedness == "left" %>   <!-- statistical data for handedness -->
                      <% l=0 %>
                      <% @people.each do |person| %>
                          <% if person.handedness == "left" %>
                             <% l=l+1 %>
                          <% end %>    
                      <% end %> 
                      <p style="color:#0EBFE9">Contributing to 1/<%= l %> of left handers.</p> 
            <% end %>  
            
            
            <% if person.handedness == "right" %>
                      <% r=0 %>
                      <% @people.each do |person| %>
                          <% if person.handedness == "right" %>
                             <% r=r+1 %>
                          <% end %>    
                      <% end %> 
                      <p style="color:#0EBFE9">Contributing to 1/<%= r %> of right handers.</p> 
            <% end %>  
            
            
            <% if person.handedness == "center" %>
                      <% c=0 %>
                      <% @people.each do |person| %>
                          <% if person.handedness == "center" %>
                             <% c=c+1 %>
                          <% end %>    
                      <% end %> 
                      <p style="color:#0EBFE9">Contributing to 1/<%= c %> of center handers (can use both hands).</p> 
            <% end %>              
            
            
            <p class="shitty" style="background-color: <%= person.color %>; width: <%= person.weight %>px; height: <%= person.height %>px;" align="<%= person.handedness %>"><font color=<%= person.writeColor %> face=<%= person.writeFont %>><em><%= person.name %></em></font></p>                                         
            <br></br>
        <% else %>     <!-- for the non-italic case -->
            <em><p style="display: inline"><span style="color:#FFFF00"><%= person.name %></span> <span style="color:#FFFF00">weighs <%= person.weight %> pounds</span> and is <span style="color:#FFFF00"><%= person.height %>cm tall</span>.</p></em><br>
            <em><p style="display: inline">This individual's <span style="color:#FFFF00">favorite color is <%= person.color %></span> and their <span style="color:#FFFF00">favorite writing color is <%= person.writeColor %></span>.</p></em><br>
            <em><p style="display: inline">In addition they're <span style="color:#FFFF00"><%= person.handedness %> handed</span> and prefers to <span style="color:#FFFF00">write in <%= person.writeFont %> font</span> with a <span style="color:#FFFF00"><%= person.writeStyle %> style</span>.</p></em><br>


            <% if person.handedness == "left" %>
                      <% l=0 %>
                      <% @people.each do |person| %>
                          <% if person.handedness == "left" %>
                             <% l=l+1 %>
                          <% end %>    
                      <% end %> 
                      <p style="color:#0EBFE9">Contributing to 1/<%= l %> of left handers.</p> 
            <% end %>  
            
            
            <% if person.handedness == "right" %>
                      <% r=0 %>
                      <% @people.each do |person| %>
                          <% if person.handedness == "right" %>
                             <% r=r+1 %>
                          <% end %>    
                      <% end %> 
                      <p style="color:#0EBFE9">Contributing to 1/<%= r %> of right handers.</p> 
            <% end %>  
            
            
            <% if person.handedness == "center" %>
                      <% c=0 %>
                      <% @people.each do |person| %>
                          <% if person.handedness == "center" %>
                             <% c=c+1 %>
                          <% end %>    
                      <% end %> 
                      <p style="color:#0EBFE9">Contributing to 1/<%= c %> of center handers (can use both hands).</p> 
            <% end %>                          
 
            
            <p class="shitty" style="background-color: <%= person.color %>; width: <%= person.weight %>px; height: <%= person.height %>px;" align="<%= person.handedness %>"><font color=<%= person.writeColor %> face=<%= person.writeFont %>><%= person.name %></font></p>
            <br></br>
        <% end %>
        
     <% end %>



   


</div>

</div>

</div>
