<div class="indexbody">    <!-- act as a template -->
 
<style>
  img{
       width: 100%;
       height: auto;
  }
</style>

<div class="picfix">
<img src="/assets/robothandphotoshopnew.png" width="600" height="200">
<p class="title">Hands of CMPT</p>
<p class="title1">"Statistics that you can see!"</p>
<p class="title2"><%= link_to 'Home', '/home', {style: "color: white"} %></p>
<p class="title3"><%= link_to 'Data', people_path, {style: "color: white"} %></p>
<p class="title5"><%= link_to 'Fact', '/fact', {style: "color: white"} %></p>
<p class="title6" id="title66"><%= link_to 'Feed', '/feed', {style: "color: white"} %></p>


<div class="borderplace">
     <h2>Feed</h2>
</div>



<div class="indexbodycontentborder">

  
</div>


<div class="indexbodycontent">
  
         <p>If you have any comments, suggestions, complaints, please talk to us! Your feedback is highly valued!</p>
         <ul><ul><p>We are located inside the CMPT common room.</p></ul></ul>

</div>



</div>

</div>
