
<div class="indexbody">   <!-- act as a template -->
 
<style>
  img{
       width: 100%;
       height: auto;
  }
</style>

<div class="picfix">
<img src="/assets/robothandphotoshopnew.png" width="600" height="200">
<p class="title">Hands of CMPT</p>
<p class="title1">"Statistics that you can see!"</p>
<p class="title2" id="title22"><%= link_to 'Home', '/home', {style: "color: white"} %></p>
<p class="title3"><%= link_to 'Data', people_path, {style: "color: white"} %></p>
<p class="title5"><%= link_to 'Fact', '/fact', {style: "color: white"} %></p>
<p class="title6"><%= link_to 'Feed', '/feed', {style: "color: white"} %></p>




<div class="borderplace">
     <h2>Home</h2>
</div>




<div class="indexbodycontentborder">

  
</div>


<div class="indexbodycontent">

<p>Welcome to Hands of CMPT!</p>
<ul><ul><p>This website is dedicated in gathering hand information from CMPT students.</p></ul></ul>

</div>

</div>

</div>
