
<div class="indexbody">      <!-- act as a template -->
 
<style>
  img{
       width: 100%;
       height: auto;
  }
</style>

<div class="picfix">
<img src="/assets/robothandphotoshopnew.png" width="600" height="200">
<p class="title">Hands of CMPT</p>
<p class="title1">"Statistics that you can see!"</p>
<p class="title2"><%= link_to 'Home', '/home', {style: "color: white"} %></p>
<p class="title3" id="title33"><%= link_to 'Data', people_path, {style: "color: white"} %></p>
<p class="title5"><%= link_to 'Fact', '/fact', {style: "color: white"} %></p>
<p class="title6"><%= link_to 'Feed', '/feed', {style: "color: white"} %></p>


<div class="borderplace">
     <h2>Data</h2>
</div>


<div class="indexbodycontentborder">

  
</div>




<div id="indexbodycontent1">     <!-- import data contents here -->

<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Color</th>
      <th>Handedness</th>
      <th>Writestyle</th>
      <th>Writefont</th>
      <th>Writecolor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.weight %></td>
        <td><%= person.height %></td>
        <td><%= person.color %></td>
        <td><%= person.handedness %></td>
        <td><%= person.writeStyle %></td>
        <td><%= person.writeFont %></td>
        <td><%= person.writeColor %></td>
        <td><%= link_to 'Show', person, {style: "color: #00BFFF"} %></td>
        <td><%= link_to 'Edit', edit_person_path(person), {style: "color: #00BFFF"} %></td>
        <td><%= link_to 'Destroy', person, style: "color:#00BFFF" ,method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>     

<%= link_to 'New Person', new_person_path, {style: "color: #C6C3B5"} %>

</div>



</div>

</div>

