<div class="indexbody">   <!-- template for html pages -->
 
<style>
  img{
       width: 100%;
       height: auto;
  }
</style>

<div class="picfix">
<img src="/assets/robothandphotoshopnew.png" width="600" height="200">
<p class="title">Hands of CMPT</p>
<p class="title1">"Statistics that you can see!"</p>




<div id="indexbodycontent3">   <!-- ruby code for precontroller actions -->








<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @person.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @person.height %>
</p>

<p>
  <strong>Color:</strong>
  <%= @person.color %>
</p>

<p>
  <strong>Handedness:</strong>
  <%= @person.handedness %>
</p>

<p>
  <strong>Writestyle:</strong>
  <%= @person.writeStyle %>
</p>

<p>
  <strong>Writefont:</strong>
  <%= @person.writeFont %>
</p>

<p>
  <strong>Writecolor:</strong>
  <%= @person.writeColor %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>





</div>

</div>

</div>
