

.indexbody {    /* all classes act as template for all html.erb */
    position: absolute;

     top: 0%;
     left: 0;
     right: 0;
    
     width: 100%;
     height: 100%;
     background-color: black;
     overflow-y: scroll;    /* prevents out of bounds */
   
}


.picfix{        /* make picture relative and others absolute to fix position */
  position: relative;
}


.title{
    color: white;
    font-family: Courier New,Arial;
    font-size: 3vw;
    font-weight: bold;
    
     position: absolute;
     top: 2%;
     left: 40.75%;
}

.title1 {
    color: white;
    font-family: Courier New,Arial;
    font-size: 1vw;
    font-weight: bold;
    
     position: absolute;
     top: 60%;
     left: 43%;
}

.title2{
     color: white;
     font-family: Courier New,Arial;
     font-weight: bold;
     font-size: 1vw;
     border-style: outset;
     border-color: #87CEEB;
     border-width: 0.25vw;
     padding: 1vw;
     
     position: absolute;
     top: 72%;
     left: 38%;
}

#title22{
     background-color: #05B8CC;
}

.title3{
     color: white;
     font-family: Courier New,Arial;
     font-weight: bold;
     font-size: 1vw;
     border-style: outset;
     border-color: #87CEEB;
     border-width: 0.25vw;
     padding: 1vw;
     
     position: absolute;
     top: 72%;
     left: 45.75%;
}

#title33{
    background-color: #05B8CC;
}

.title5{
     color: white;
     font-family: Courier New,Arial;
     font-weight: bold;
     font-size: 1vw;
     border-style: outset;
     border-color: #87CEEB;
     border-width: 0.25vw;
     padding: 1vw;
     
     position: absolute;
     top: 72%;
     left: 53.25%;
}

#title55{
    background-color: #05B8CC;
}

.title6{
     color: white;
     font-family: Courier New,Arial;
     font-weight: bold;
     font-size: 1vw;
     border-style: outset;
     border-color: #87CEEB;
     border-width: 0.25vw;
     padding: 1vw;
     
     position: absolute;
     top: 72%;
     left: 61%;
}

#title66{
    background-color: #05B8CC;
}


table {
   border-collapse: collapse; 
   padding: 2vw;

}

th,td {
  width: 7%;
}

th{
  text-align: left;
  color: yellow;
  
  padding-left: 1%;
  padding-top: 0.65%;
  padding-bottom: 0.65%;
}

td{
  padding-left: 1%;
  padding-top: 0.9%;
  padding-bottom: 0.75%;
}


.borderplace{ 
 
   position: absolute;
  
   color: black;  
    
    position: absolute;
    
    left: 10%;
    right: 10%;
    
    top: 94%;
    
  
     line-height: 0.01vw;  /* vw is vector scaling; scale porportionally */
     
     border-right: 2vw solid transparent;
     border-bottom: 2vw solid #3f3f3f;
     padding-left: 1.5vw;
     
     font-weight: bold;
     
     height: 0;
     display: inline-block;
     
     width: 4%;
     
     font-size: 1vw;
     
}


.indexbodycontentborder{
    
    position: absolute;
    
    border: solid #3f3f3f;
    

    left: 10%;
    right: 10%;
}


.indexbodycontent{
    position: absolute;

    color: #d3d3d3;
    
    top: 107%;
    padding-left: 13%;
    
    font-size: 1.5vw;
    
    padding-bottom: 5%;
    padding-right: 5%;
    
  
    
}
