#title {   /* all titles are used for all pages */
  color: white;
  font-family: Courier New,Arial;
  font-size: 400%;
  position: absolute;
  top: 5%;
  left: 40.5%; }

#title1 {
  color: white;
  font-family: Courier New,Arial;
  font-style: italic;
  font-weight: bold;
  font-size: 155%;
  position: absolute;
  top: 35%;
  left: 42%; }

#title2 {
  color: white;
  font-family: Courier New,Arial;
  font-weight: bold;
  font-size: 135%;
  position: absolute;
  top: 39%;
  left: 43.75%; }

#title3 {
  color: white;
  font-family: Courier New,Arial;
  font-weight: bold;
  position: absolute;
  top: 39%;
  left: 43.75%; }

#title4 {
  color: white;
  font-family: Courier New,Arial;
  font-weight: bold; }

#title5 {
  color: white;
  font-family: Courier New,Arial;
  font-weight: bold; }

#title6 {
  color: white;
  font-family: Courier New,Arial;
  font-weight: bold; }

#indexbody {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: black; }

#indexbodycontent1 {
  position: absolute;

  top: 107%;
  left: 19%;
  color: white;
  
  width: 60%;
  margin: 0 auto;

  padding-bottom: 5%;  /* ensures space at bottom */
  
  font-size: 1vw;
  
}

#indexbodycontent2{
  
   position: absolute;

  top: 70%;
  left: 45%;
  color: white;
  
  width: 60%;
  margin: 0 auto;

  padding-bottom: 5%;
  
  font-size: 0.9vw;
  
}


#indexbodycontent3{
  
   position: absolute;

  top: 70%;
  left: 45%;
  color: white;
  
  width: 60%;
  margin: 0 auto;

  padding-bottom: 5%;
  
  font-size: 1.0vw;
  
}


.shitty
{
  padding: 0.5vw;  /* creates space for input */
}




th, td {
  width: 8%; }

th {
  text-align: left;
  background: black;
  color: yellow;
  padding-left: 1%;
  padding-top: 0.65%;
  padding-bottom: 0.65%;
  border: 1px solid Darkgray; }

td {
  padding-left: 1%;
  padding-top: 0.9%;
  padding-bottom: 0.75%;
  border: 1px solid Darkgray; }

h1 {
  font-family: Arial;
  color: blue; }

#statement {
  color: blue;
  text-align: center; }

/*# sourceMappingURL=people.css.css.map */
